@charset utf-8;

#wrap{
  width: 98.5vw;
  height:60vw;
  background-image: url("../image/bgi/bgi_box.png");
  background-color: #8CC8FF;
}

#box{
  width:1280px;
  height:780px;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin:auto auto;
  /*background-image: url("../image/bgi/bgi_main.png");*/


  background-color: #7FFFAF;


  box-shadow: 0 0 15px rgba(0,0,0,.9);
}

#start{
  width:320px;
  height:160px;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin:auto auto;


  background-color: #FF00FF;


  box-shadow: 0 0 15px rgba(0,0,0,.9);
}
.start_button{
  widows: 320px;
  text-align: center;
}
