@charset "utf8";

div.tabbox { margin: 0px 0 0 0; padding: 0px; width:auto; height:50px;}
p.tabs { margin: 0px; padding: 0px; }
p.tabs a {
  display: block; width: 100px; float: left;
  margin: 0px 0px 0px 0px; padding: 0px;
  text-align: center;
  font-size:12px;
}
p.tabs a {text-decoration:none; background-color:#fafafa;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;border-top: 3px solid rgba(221, 179, 225, 0.85);  color: #666; font-weight:600;}
/*p.tabs a:hover {opacity:0.7;filter:alpha(opacity=70);}*/
.tab {
   height: 176px;
   width: 857px;
   float: left;
}
div.tab { border: 2px solid #DDD; background-color: #fbfbfb; }
div.tab p { margin: 0.5em; }

p{
  margin:0;
}
#wrapwrap{
  width: 98.5vw;
  height:auto;
  background-image: url("../image/bgi/bgi_box.png");
  background-color: #8CC8FF;
}

#wrap{
  width:1280px;
  height:780px;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin:20px auto;
  /*background-image: url("../image/bgi/bgi_main.png");*/


  background-color: #7FFFAF;


  box-shadow: 0 0 15px rgba(0,0,0,.9);
}
#top{
  width:1260px;
  margin: 5px 10px;
  background-color: #F0F0F0;
  /*background-image: url("../image/logo2.png");*/
  height:120px;
  /*background-color: #C00;*/
}
#logoimg{
  padding:20px;
  float: left;
}
#h1{
  color: #333;
}
#logotxt{
  padding: 5px;
  font-size: 20px;
  color:#111111;
  font-family: -apple-system, blinkMacSystemFont, /* Macの欧文はSan Francisco (OS X 10.11以降) */
               'Helvetica Neue', /* Macの欧文 (OS X 10.10以前) */
               'Segoe UI',       /* Windowsの欧文 */
               YuGothicM,        /* Windows8.1以上は游ゴシック */
               YuGothic,         /* Macの游ゴシック */
               Meiryo,           /* 游ゴシックが入っていないWindows */
               sans-serif;
}
#display{
  width:1260px;
  height:420px;
  /*background-color: #0C0;*/
  position: relative;
  margin: 10px;
  /*background-image: url("../image/bgi/bgi_box.png");*/
  background-color: #F8FF7F;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}
#display img{
  position:absolute;
  left:0;
  top:0;
}

#canvas{

}
#display_display{
  width:400px;
  height:400px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #FFF;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}
#menu{
  width: 126px;
  height: 200px;
  float: left;
  position:relative
}
#menusita{
  position: absolute;
  bottom: 8px;
}
.ddd{
  width: 100%;
  height: 100%;
}
.ddd{
  fill:#FFF000;
}
#panel{
  width:1260px;
  height:200px;
  margin: 5px 10px;
}

.select_page{
  width: 1260px;
  height: 200px;
  background-color: #EEE;
}

.picker_box{
  float:left;
  margin: 0px 0px;
  width: 264px;
  height: 197px;
  border: 2px solid #DDD; background-color: #fbfbfb;
}
.tabbox_box{
  width: 866px;
  height: 190px;
  float: left;
}
#tabbox_scroll{
  height: 179px;
  width: 866px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #EEE;
  float: left;
}
.tab_select_ico{
  width: 152px;
  height: 152px;
  float:left;
  margin:1px;
  background-size:contain;
  border:solid 6px;
  border-color:rgba(8,8,8,0.2);
}

.hair_box{
  background-color: #CFF;
}
.head_box{
  background-color: #FCF;
}
.face_box{
  background-color: #FFC;
}
.outer_box{
  background-color: #DEF;
}
.inner_box{
  background-color: #FDE;
}
.bottom_box{
  background-color: #EFD;
}
.shoes_box{
  background-color: #EDF;
}
.other_box{
  background-color: #FED;
}
.colormenu{
  text-align: center;
  margin: 2px;
  width: 251px;
  height: 60px;
  float: left;
  background-color: #CEC;
  border:solid 1px;
  font-weight: 800;
  color:#444;
}
.colormenu_txt{
  margin: 18px;
}
.color{
  width: 54px;
  height: 54px;
  margin:1px;
  float:left;
  border:solid 4px;
  border-color: rgba(8,8,8,0.2);
  background-color: #07F;
}

.color8{
  width: 60px;
  height: 60px;
  margin:10px;
  background-color: #07F;
}

.button {
  display: none;
}
.hair_box,.shoes_box,.other_box{
  background-repeat: no-repeat;
}

.hair_color_box01{background-color: #272425;}
.hair_color_box02{background-color: #AC715D;}
.hair_color_box03{background-color: #D5D37A;}
.hair_color_box04{background-color: #AD1938;}
.hair_color_box05{background-color: #9598E9;}
.hair_color_box06{background-color: #F56CE8;}
.hair_color_box07{background-color: #6EF56C;}
.hair_color_box08{background-color: #7C7C7C;}

.head_color_box01{background-color: #F1D1B2;}
.head_color_box02{background-color: #AC715D;}
.head_color_box03{background-color: #EFE4D9;}
.head_color_box04{background-color: #C4C8D8;}

.face_color_box01{background-color: #171920;}
.face_color_box02{background-color: #745E58;}
.face_color_box03{background-color: #35B4C0;}
.face_color_box04{background-color: #F56CE8;}

.outer_color_box01{background-color: #272425;}
.outer_color_box02{background-color: #989898;}
.outer_color_box03{background-color: #AC715D;}
.outer_color_box04{background-color: #B12441;}

.inner_color_box01{background-color: #FFFFFF;}
.inner_color_box02{background-color: #989898;}
.inner_color_box03{background-color: #AD1938;}
.inner_color_box04{background-color: #473FE9;}
.inner_color_box05{background-color: #D5D37A;}
.inner_color_box06{background-color: #6EF56C;}
.inner_color_box07{background-color: #F56CE8;}
.inner_color_box08{background-color: #8724F5;}

.bottom_color_box01{background-color: #3A1924;}
.bottom_color_box02{background-color: #272425;}
.bottom_color_box03{background-color: #03848E;}
.bottom_color_box04{background-color: #AC715D;}

.shoes_color_box01{background-color: #272425;}
.shoes_color_box02{background-color: #AC715D;}
.shoes_color_box03{background-color: #989898;}
.shoes_color_box04{background-color: #FFFFFF;}

.other_color_box01{background: #00F;}
.other_color_box02{background: #0F0;}
.other_color_box03{background: #F00;}
.other_color_box04{background: #FFF;}
.other_color_box05{background: #989898;}
.other_color_box06{background: #35B4C0;}
.other_color_box07{background: #F56CE8;}
.other_color_box08{background: #6EF56C;}
#twitter{
  font-size: 12px;
  text-align: center;
  width: 110px;
  background: #1DA1F2;
  border: solid 2px #085081;
}

.square_btn {
  width: 126px;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #444;
  background: #F8FF7F;/*色*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #848838;/*線色*/
}

.square_btn:active {/*押したとき*/
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
